In [ ]:
import pandas as pd

def credit_calc(SK, PS, KP):
  AP = SK * (PS / 12 + (PS / (12 * ((1 + PS / 12) ** KP - 1))))

  NP0 = SK * PS / 12
  OK0 = SK

  periods = [i for i in range(1, KP + 1)]
  NPs = []
  NPs.append(NP0)
  OKs = []
  OKs.append(OK0)
  OC0 = AP - NP0
  OCs = []
  OCs.append(OC0)

  for i in range(1, KP):
    OKs.append(OKs[i-1] - OCs[i-1])
    NPs.append(OKs[i] * PS / 12)
    OCs.append(AP - NPs[i])

  return pd.DataFrame({'Номер периода' : periods,
                       'ОК' : OKs,
                       'НП' : NPs,
                       'ОС' : OCs})

In [ ]:
credit_calc(1000000, 0.2, 19)

    Номер периода              ОК            НП            ОС
0               1  1000000.000000  16666.666667  45171.108385
1               2   954828.891615  15913.814860  45923.960192
2               3   908904.931423  15148.415524  46689.359528
3               4   862215.571894  14370.259532  47467.515520
4               5   814748.056374  13579.134273  48258.640779
5               6   766489.415595  12774.823593  49062.951459
6               7   717426.464136  11957.107736  49880.667316
7               8   667545.796820  11125.763280  50712.011772
8               9   616833.785048  10280.563084  51557.211968
9              10   565276.573080   9421.276218  52416.498834
10             11   512860.074246   8547.667904  53290.107148
11             12   459569.967098   7659.499452  54178.275600
12             13   405391.691497   6756.528192  55081.246860
13             14   350310.444637   5838.507411  55999.267641
14             15   294311.176996   4905.186283  56932.588769
15             16   237378.588227   3956.309804  57881.465248
16             17   179497.122979   2991.618716  58846.156336
17             18   120650.966643   2010.849444  59826.925608
18             19    60824.041035   1013.734017  60824.041035